name: iOS Build

on:
  workflow_dispatch: # Allows you to trigger this workflow manually from GitHub Actions tab
  push:
    branches:
      - main

jobs:
  build_ios:
    name: Build iOS App
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
          channel: 'stable'

      - name: Install dependencies
        run: flutter create . --platforms ios && flutter pub get

      - name: Install CocoaPods
        run: |
          cd ios
          pod install

      - name: Build iOS Application (No Codesign)
        run: flutter build ios --release --no-codesign

      - name: Compress iOS App Bundle
        run: |
          cd build/ios/iphoneos
          tar -czf Runner.app.tar.gz Runner.app

      - name: Upload iOS App Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-release-app
          path: build/ios/iphoneos/Runner.app.tar.gz
